@import '../../../css/queries';

.hero {
  padding-top: calc(var(--base) * 3);
}

.media {
  width: calc(100% + var(--gutter-h));

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
  }
}

.links {
  list-style: none;
  margin: var(--base) 0 0;
  padding: 0;
  display: flex;

  li {
    margin-right: 12px;
  }

  @include mid-break {
    padding: 0 var(--gutter-h);
    display: block;

    li {
      margin-right: 0;
    }
  }
}